.header {
  background: $brandPrimaryBackground;
  color: $reverseFontColor;
  text-align: center;
  height: 7em;
  padding: 1em;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  &__container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $desktop;
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1em;
    @include horizontal-spacing();
  }
}

@media screen and (min-width: $largeDesktop) {
  .header__container {
    max-width: $largeDesktop;
  }
}
