@media screen and (min-width: $tablet) {
  .product-description {
    display: flex;
    margin: 0 -2em;

    > p {
      flex: 1;
      padding: 0 2em;
    }
  }
}

@media screen and (min-width: $desktop) {
  .product-description {
    flex-direction: column;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: $largeDesktop) {
  .product-description {
    margin-bottom: 3rem;
  }
}
