$baseMediaHeight: 15rem;
$mediaSpacing: 2rem;

.media-grid {
  display: grid;
  margin-bottom: $mediaSpacing;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: $mediaSpacing;
  grid-row-gap: $mediaSpacing;
  grid-auto-rows: $baseMediaHeight - $mediaSpacing;

  .media {
    &:nth-child(3n + 1) {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
}

@media screen and (min-width: $tablet) {
  .media-grid {
    grid-template-columns: 1fr 23.6% 1fr;

    .media {
      grid-column: span 1;

      &:nth-child(3n + 1) {
        grid-column: span 1;
        grid-row: span 1;
      }

      &:nth-child(6n + 1),
      &:nth-child(6n + 5) {
        grid-column: span 2;
        grid-row: span 2;
      }

      &:last-child:nth-child(6n + 2),
      &:nth-last-child(2):nth-child(6n + 4) {
        grid-row: span 2;
      }
    }
  }
}
