.heading-with-addon {
  text-align: center;
  margin: 3rem 1rem;

  > * {
    line-height: $giantSize;
    margin: 0;
  }

  small {
    display: block;
    color: $fontColor;
    font-size: $extraLargeSize;
    line-height: $giantSize;
    margin-top: 1rem;
  }
}
