$mainFontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$regular: 400;
$semiBold: 500;
$bold: 700;

$normal: 1rem;
$h2: 1.2rem;
$h1: 1.5rem;
$mega: 2rem;
$giga: 3rem;

html {
  font-size: $normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
}

body {
  color: $fontColor;
  background: $backgroundColor;
  font-family: $mainFontFamily;
  font-style: normal;
  font-weight: $regular;
  line-height: 1.42857143;
  margin: 0;
}

h1 {
  font-size: $h1;
}

@media screen and (min-width: $tablet) {
  h1 {
    font-size: $mega;
  }
}

@media screen and (min-width: $largeDesktop) {
  h1 {
    font-size: $giga;
  }
}
