$mainFontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

$regular: 400;
$semiBold: 500;
$bold: 700;

$tinySize: 0.7rem;
$extraSmallSize: 0.8rem;
$smallSize: 1rem;
$mediumSize: 1.2rem;
$regularSize: 1rem;
$extraLargeSize: 2rem;
$giantSize: 2.5rem;

html {
  font-size: $regularSize;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
}

body {
  color: $fontColor;
  background: $backgroundColor;
  font-family: $mainFontFamily;
  font-style: normal;
  font-weight: $regular;
  line-height: 1.42857143;
  margin: 0;
}

h1 {
  font-size: $giantSize;
  color: $brandPrimary;
}
