.page--product {
  display: flex;
  flex-direction: column;

  .hero-image {
    text-align: center;

    > img {
      max-width: 100%;
      max-height: 80vh;
    }
  }

  .product-view {
    padding: 0 3em;
    .heading-with-addon {
      > h1 {
        color: $fontSecondaryColor;
        font-size: $largeSize;
        line-height: $largeSize;
      }

      small {
        line-height: $regularSize;
      }
    }

    .product-actions {
      text-align: center;
      margin-bottom: 3em;
    }
  }
}

@media screen and (min-width: $tablet) {
  .page--product {
    .hero-image {
      text-align: center;
      > img {
        max-height: 80vh;
      }
    }

    .product-view {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
      padding-top: 3em;

      .heading-with-addon {
        text-align: left;
        // margin: 0;

        > h1 {
          font-size: $giantSize;
          line-height: $giantSize;
          // margin-top: 0;
        }

        small {
          margin-top: 2rem;
          line-height: $largeSize;
        }

        .price {
          font-size: $largeSize;
          line-height: $largeSize;
          font-weight: $regular;
        }
      }

      .product-description {
        display: flex;
        margin: 0 -2em;

        > p {
          flex: 1;
          padding: 0 2em;
        }
      }
    }
  }
}

@media screen and (min-width: $desktop) {
  .page--product {
    flex-direction: row-reverse;
    max-width: $desktop;
    margin: auto;
    padding: 0 1em;

    .hero-image {
      flex: 1;
    }

    .product-view {
      padding: 0;
      flex: 1;
      flex-direction: column;
      justify-content: flex-start;

      > * {
        padding-right: 3em;
      }

      .product-description {
        flex-direction: column;
      }

      .product-actions {
        margin-top: 2em;
        order: 3;
        text-align: left;
      }
    }
  }
}
