.button {
  background-color: $brandPrimary;
  border: none;
  color: $fontSecondaryColor;
  font-weight: $bold;
  font-size: $normal;
  padding: 1.4em 3em;
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    background-color: $brandHoverPrimary;
  }

  &.invisible {
    padding: 0;
    background-color: inherit;
  }
}
