html {
  font-size: $normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size-adjust: 100%;
}

body {
  color: $fontColor;
  background: $backgroundColor;
  font-family: $mainFontFamily;
  font-style: normal;
  font-weight: $regular;
  line-height: 1.42857143;
  margin: 0;
}
