.body--modal-opened {
  overflow: hidden;
}
.modal {
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba($shade06, 0.35);
    cursor: pointer;

    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    &.ReactModal__Overlay--after-open {
      opacity: 1;
    }

    &.ReactModal__Overlay--before-close {
      opacity: 0;
      transition: opacity 0.2s ease-in-out 0.1s;
    }
  }

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: $white;
  width: 100%;
  max-width: 32em;
  cursor: default;
  transform: translate(100%, 0);
  transition: transform 0.2s ease-in-out;

  &.ReactModal__Content--after-open {
    transform: translate(0, 0);
  }

  &.ReactModal__Content--before-close {
    transform: translate(100%, 0);
  }

  &__header {
    background: $shade02;
    height: 7em;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    padding: 3em;
    flex: 1;
  }
}
