$brandPrimary: #666699;
$brandSecondary: #818199;
$white: #fff;
$black: #000;

$orange: #ff5501;
$red: #ff0000;

$shade01: $white;
$shade02: #f0f0f0;
$shade03: #dadada;
$shade04: #9b9b9b;
$shade05: #333333;
$shade06: $black;

$success: #22aa50;
$info: #efb800;
$warning: #fd7737;
$error: #ff0000;

$backgroundColor: $white;
$fontColor: #131433;
$fontDisabled: $shade05;
$fontSecondaryColor: $shade05;

$reverseBackgroundColor: $fontColor;
$reverseFontColor: $backgroundColor;

$titleColor: $brandPrimary;

$buttonPrimaryColor: $brandPrimary;
$buttonSecondaryColor: $white;
