$brandPrimary: #0a5e66;
$brandSecondary: #818199;
$white: #fff;
$black: #000;

$orange: #ff5501;
$red: #ff0000;

$shade01: $white;
$shade02: #edf2f2;
$shade03: #8c8f8f;
$shade04: #707373;
$shade05: #333333;
$shade06: #252626;

$success: #22aa50;
$info: #efb800;
$warning: #fd7737;
$error: #ff0000;

$backgroundColor: $white;
$fontColor: #333333;
$fontDisabled: $shade05;
$fontSecondaryColor: $shade05;

$reverseBackgroundColor: $fontColor;
$reverseFontColor: $backgroundColor;

$titleColor: $brandPrimary;

$buttonPrimaryColor: $brandPrimary;
$buttonSecondaryColor: $white;
