.media {
  position: relative;
  background: $shade02;
  overflow: hidden;

  > a {
    display: block;
  }

  img {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: center;
  }

  &__details {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: $brandPrimaryBackground;
    color: $reverseFontColor;
    border: 0;
    padding: 1em;
    box-sizing: border-box;

    opacity: 0;
    transform: translate(0, 50%);
    transition: opacity 0.3s ease, transform 0.3s ease-in;
  }

  &:hover,
  &:focus {
    .media__details {
      opacity: 1;
      transform: none;
      transition: opacity 0.3s ease, transform 0.3s ease-out;
    }
  }
}
