.hero-image {
  position: relative;
  height: 100%;
  min-height: 60vh;
  > img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
  }
}
